* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.medsos {
    padding: 5px 0;
    background-color: rgb(250, 205, 217);
}

.medsos ul li {
    display: inline-block;
    color: #fff;
    margin-right: 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
    
}
.container::after {
    content: '';
    display: block;
    clear: both;
}

header h1 {
    
    float: left;
    padding: 15px 0;
    color:(250, 205, 217);
}
header ul {
    float: right
}
header ul li {
    display: inline-block;
}
header ul li a {
    padding:25px 20px;
    display: inline-block;
}
header .container ul li a:hover:not(.active) {
    background-color:rgb(245, 185, 185);
    color: #fff;
}
.active {
    background-color: rgb(245, 185, 185);
    color: #fff;

}
.banner {
    height: 60vh;
    background-image: url('../img/banner.png');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(250, 205, 217, .6);
}
.banner h2 {
    color: #0c0c0c;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid #111111;
}
section {
    padding: 35px;
    text-align: center;
    color:rgb(22, 22, 22);
}

.medsos_footer {
    padding:0;
}

.medsos_footer ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: 30px;
}
.container_footer {
    padding:30px 0;
    background-color:#333;
    color: #fff;
    text-align: center;

}
    
.label {
    background-color:rgb(250, 205, 217);
}

footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(20, 20, 20);
    color: white;
    text-align: center;
}
.container_left {
    /* float: left; */
    position: absolute;
    width: 350px;
    height: 500px ;
    background-image: url('../img/foto.jpeg');
    background-size: 398px;
    margin: 80px;
    background-color: red;
}

.container_right {
    width: 800px;
    height: 320px;
    margin: 80px 430px;
    align-items: center;
    padding: 90px 0;
    background: #f8e5e5;

}
*class_column {
    box-sizing: border-box;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {padding: 100px;
margin-left: 130px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  .ag-format-container {
    width: 1142px;
    margin: 0 auto;
  }
  
  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
    padding: 50px 0;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
  
    margin: 0 15px 30px;
  
    overflow: hidden;
  
    border-radius: 28px;
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
  
    overflow: hidden;
  
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #fff;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
  
    overflow: hidden;
  
    font-weight: bold;
    font-size: 30px;
    color: #fff;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #fff;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
  
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: rgb(250, 205, 217);
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: rgb(250, 205, 217);
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: rgb(250, 205, 217);
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: rgb(250, 205, 217);
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: rgb(250, 205, 217);
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: rgb(250, 205, 217);
  }
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }
  input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container_contact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 60px;
}


